body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.row{
    margin: 30px;
    background-color: white;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999
}

